<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
    <context:component-scan base-package="com.saviasaludeps.savia.web.singleton"/>
    <context:component-scan base-package="com.saviasaludeps.savia.web.rips.carga.servicio"/>
    <!--SERVICES-->
    <bean id="conexionServicio" class="com.saviasaludeps.savia.web.administracion.servicio.ConexionServicioImpl">
    </bean>
    
    <bean id="empresaServicio" class="com.saviasaludeps.savia.web.administracion.servicio.EmpresaServicioImpl">
    </bean>
    
    <bean id="logServicio" class="com.saviasaludeps.savia.web.administracion.servicio.LogServicioImpl">
    </bean>
    
    <bean id="maestroTipoServicio" class="com.saviasaludeps.savia.web.administracion.servicio.MaestroTipoServicioImpl">
    </bean>
    
    <bean id="maestroServicio" class="com.saviasaludeps.savia.web.administracion.servicio.MaestroServicioImpl">
    </bean>
    
    <bean id="moduloServicio" class="com.saviasaludeps.savia.web.administracion.servicio.ModuloServicioImpl">
    </bean>
    
    <bean id="perfilServicio" class="com.saviasaludeps.savia.web.administracion.servicio.PerfilServicioImpl">
    </bean>
    
    <bean id="ubicacionServicio" class="com.saviasaludeps.savia.web.administracion.servicio.UbicacionServicioImpl">
    </bean>
    
    <bean id="usuarioServicio" class="com.saviasaludeps.savia.web.administracion.servicio.UsuarioServicioImpl">
    </bean>
    
    <bean id="calendarioServicio" class="com.saviasaludeps.savia.web.administracion.servicio.CalendarioServicioImpl">
    </bean>
    
    <bean id="rolServicio" class="com.saviasaludeps.savia.web.administracion.servicio.RolServicioImpl">
    </bean>
    
    <bean id="wsTransaccionServicio" class="com.saviasaludeps.savia.web.webservice.servicio.WsTransaccionServicioImpl">
    </bean>
    
    <bean id="wsConexionServicio" class="com.saviasaludeps.savia.web.webservice.servicio.WsConexionServicioImpl">
    </bean>
    
    <bean id="wsServicio" class="com.saviasaludeps.savia.web.webservice.servicio.WsServicioImpl">
    </bean>
    
    <bean id="portabilidadServicio" class="com.saviasaludeps.savia.web.aseguramiento.servicio.PortabilidadServicioImpl">
    </bean>
    
    <bean id="ipsSedesServicio" class="com.saviasaludeps.savia.web.contratacion.servicio.IpsSedesServicioImpl">
    </bean>
    
    <bean id="contratosServicio" class="com.saviasaludeps.savia.web.contratacion.servicio.ContratosServicioImpl">
    </bean>
        
    <bean id="cmFacturaConciliacionServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.CmFacturaConciliacionServicioImpl">
    </bean>
    
    <bean id="cmFacturaGlosaServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.CmFacturaGlosaServicioImpl">
    </bean>
    
    <bean id="cmReintentosGlosasServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.CmEnviosGlosasServicioImpl">
    </bean>
    
    <bean id="CmSincronizacionEncabezadoServicio" class="com.saviasaludeps.savia.web.rest.NotificacionFactura.servicio.NotificacionFacturaServicio">
    </bean>
    
    <bean id="cargaMasivaConciliacionServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.CargaMasivaConciliacionServicioImpl">
    </bean>
    
    <bean id="reporteCuentasMedicasServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.ReporteCuentasMedicasServicioImpl">
    </bean>
    
    <bean id="gnConfiguracionServicio" class="com.saviasaludeps.savia.web.administracion.servicio.GnConfiguracionServicioImpl">
    </bean>
    
    <bean id="cmRipsCargaServicio" class="com.saviasaludeps.savia.web.cuentamedica.rips.carga.servicio.CmRipsCargaServicioImpl">
    </bean>

    <bean id="cmRipsReglaServicio" class="com.saviasaludeps.savia.web.cuentamedica.rips.regla.servicio.CmRipsReglaServicioImpl">
    </bean>
    
    <bean id="consultarAfiliadoServicio" class="com.saviasaludeps.savia.web.aseguramiento.servicio.ConsultarAfiliadoServicioImpl">
    </bean>   
    
    <bean id="afiliadosServicio" class="com.saviasaludeps.savia.web.aseguramiento.servicio.AfiliadosServicioImpl">
    </bean>  
    
    <bean id="gestionProgramaServicio" class="com.saviasaludeps.savia.web.especial.servicio.GestionProgramaServicioImpl">
    </bean>

    <bean id="afiliadosPEServicio" class="com.saviasaludeps.savia.web.especial.servicio.GestionAfiliadosPEServicioImpl">
    </bean>
    
    <bean id="direccionadoServicio" class="com.saviasaludeps.savia.web.especial.servicio.GestionDireccionadoServicioImpl">
    </bean>

    <bean id="gestionarCargaMasivaServicio" class="com.saviasaludeps.savia.web.especial.servicio.GestionCargaMasivaImpl">
    </bean>
    
    <bean id="auSolicitudServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuSolicitudServicioImpl">
    </bean>
    
    <bean id="copagoModeradoraServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.CopagoModeradoraImpl">
    </bean>
    
    <bean id="auCargaMasivaServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuCargaMasivaServicioImpl">
    </bean>
    
    <bean id="auAutorizacionServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuAutorizacionServicioImpl">
    </bean>
    
    <bean id="auEntregaCargaServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuEntregaCargaImpl">
    </bean>
    
    <bean id="auSeguimientoServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuSeguimientoImpl">
    </bean>
    
    <bean id="referenciaContraServicio" class="com.saviasaludeps.savia.web.crue.servicio.ReferenciaContraRefImpl">
    </bean>
    
    <bean id="solicitudesUrgenciasServicio" class="com.saviasaludeps.savia.web.crue.servicio.SolicitudesUrgenciasImpl">
    </bean>
    
    <bean id="rescateServicio" class="com.saviasaludeps.savia.web.crue.servicio.RescateImpl">
    </bean>
    
    <bean id="selDiagnosticoServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.DiagnosticoServicioImpl">
    </bean>
    
    <bean id="selEspecialidadServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.EspecialidadServicioImpl">
    </bean>
    
    <bean id="selTecnologiaServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.TecnologiaServicioImpl">
    </bean>
    
    <bean id="selPaqueteServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.PaqueteServicioImpl">
    </bean>

    <bean id="selMedicamentoServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.MedicamentoServicioImpl">
    </bean>
    
    <bean id="selInsumoServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.InsumoServicioImpl"> 
    </bean>
    
    <bean id="soatServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.SoatServicioImpl"> 
    </bean>
    
    <bean id="iss2000Servicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.Iss2000ServicioImpl"> 
    </bean>
    
    <bean id="iss2001Servicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.Iss2001ServicioImpl"> 
    </bean>
    
    <bean id="selServicioHabilitacionServicio" class="com.saviasaludeps.savia.web.maestro.seleccion.servicio.ServicioHabilitacionServicioImpl"> 
    </bean>
    
    <bean id="selCodigoMipresServicio" class="com.saviasaludeps.savia.web.mipres.seleccion.servicio.SelCodigoMipresServicioImpl"> 
    </bean>
    
    <bean id="medicamentoServicio" class="com.saviasaludeps.savia.web.maestro.servicio.MedicamentosServicioImpl"> 
    </bean>
    
    <bean id="cmAuditoriaFacturaServicio" class="com.saviasaludeps.savia.web.cuentamedica.auditoria.servicio.CmAuditoriaFacturaServicioImpl">
    </bean>
    
    <bean id="cmAuditoriaLiderFacturaServicio" class="com.saviasaludeps.savia.web.cuentamedica.auditoria.servicio.CmAuditoriaLiderFacturaServicioImpl">
    </bean>
    
    <bean id="cmGrupoServicio" class="com.saviasaludeps.savia.web.cuentamedica.auditoria.servicio.CmGrupoServicioImpl">
    </bean>
    
    <bean id="prestadorSedeServicio" class="com.saviasaludeps.savia.web.contratacion.seleccion.servicio.PrestadorSedeImpl">
    </bean>
    
    <bean id="auCotizacionServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuCotizacionServicioImpl">
    </bean>
    
    <bean id="selPrestadorServicio" class="com.saviasaludeps.savia.web.contratacion.seleccion.servicio.SelPrestadorImpl">
    </bean>
    
    <bean id="profesionalesServicio" class="com.saviasaludeps.savia.web.contratacion.servicio.ProfesionalesServicioImpl">
    </bean>
    
    <bean id="selPrestadorSedesGenericoServicio" class="com.saviasaludeps.savia.web.consulta.servicio.SelPrestadorSedesGenericoImpl">
    </bean>
    
    <bean id="mipresServicio" class="com.saviasaludeps.savia.web.mipres.servicio.MipresImpl">
    </bean>
    
    <bean id="cotizacionServicio" class="com.saviasaludeps.savia.web.mipres.servicio.MipresCotizacionImpl">
    </bean>
    
     <bean id="prestadorMipres" class="com.saviasaludeps.savia.web.mipres.servicio.PrestadorMipresImpl">
    </bean>
    
    <bean id="prescripcionServicio" class="com.saviasaludeps.savia.web.mipres.contingencia.servicio.PrescripcionServicioImpl">
    </bean>
    
    <bean id="cmAuditoriaMasivaServicio" class="com.saviasaludeps.savia.web.cuentamedica.auditoriamasiva.servicio.CmAuditoriaMasivaServicioImpl">
    </bean>
    
    <bean id="selAfiliadoServicio" class="com.saviasaludeps.savia.web.aseguramiento.seleccion.servicio.SelAfiliadoImpl"> 
    </bean>
    
    <bean id="auZonaServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuZonaServicioImpl">
    </bean>
    <bean id="anexo1Servicio" class="com.saviasaludeps.savia.web.aseguramiento.servicio.Anexo1ServicioImpl">
    </bean>
    <bean id="certificadoServicio" class="com.saviasaludeps.savia.web.aseguramiento.servicio.CertificadosServicioImpl">
    </bean>
    
    <bean id="informeServicio" class="com.saviasaludeps.savia.web.informe.servicio.InformeServicioImpl">
    </bean>
    <bean id="informeGrupoServicio" class="com.saviasaludeps.savia.web.informe.servicio.InformeGrupoServicioImpl">
    </bean>
    
    <bean id="informeGeneradoServicio" class="com.saviasaludeps.savia.web.informe.servicio.InformeGeneradoServicioImpl">
    </bean>
    
    <bean id="cmControlAuditoriaMasivaServicio" class="com.saviasaludeps.savia.web.cuentamedica.auditoriamasiva.servicio.CmControlAuditoriaServicioImpl">
    </bean>
    
    <bean id="reporteImpresionServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.ReporteImpresionServicioImpl">
    </bean>
    
    <bean id="gsSolicitudServicio" class="com.saviasaludeps.savia.web.solicitud.servicio.GsSolicitudServicioImpl">
    </bean>
    <bean id="gsZonaServicio" class="com.saviasaludeps.savia.web.solicitud.servicio.GsZonaServicioImpl">
    </bean>
    
    <bean id="gsMensajeServicio" class="com.saviasaludeps.savia.web.solicitud.servicio.GsMensajeServicioImpl">
    </bean>
    
    <bean id="auGrupoServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuGrupoServicioImpl">
    </bean>
    
    <bean id="impresionAutorizacionServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.ImpresionAutorizacionServicioImpl">
    </bean>
    
    <bean id="hiloServicio" class="com.saviasaludeps.savia.web.administracion.servicio.HiloServicioImpl">
    </bean>
    
    
    <bean id="recurrenciaServicio" class="com.saviasaludeps.savia.web.administracion.servicio.RecurrenciaServicioImpl">
    </bean>

    <bean id="cmControlCierreServicio" class="com.saviasaludeps.savia.web.cuentamedica.rips.regla.servicio.CmControlCierreServicioImpl">
    </bean>  
    
    <bean id="ausPersonaServicio" class="com.saviasaludeps.savia.web.atencionusuario.servicio.AusPersonaServicioImpl">
    </bean>  
    
    <bean id="ausCasoServicio" class="com.saviasaludeps.savia.web.atencionusuario.servicio.AusCasoServicioImpl">
    </bean> 
    
    <bean id="ausCargaMasivaCasosServicio" class="com.saviasaludeps.savia.web.atencionusuario.servicio.AusCargaMasivaCasosServicioImpl">
    </bean>
    
    <bean id="ausGraficasServicio" class="com.saviasaludeps.savia.web.atencionusuario.servicio.AusGraficasServicioImpl">
    </bean>
    
    <bean id="ausServicioGestionServicio" class="com.saviasaludeps.savia.web.atencionusuario.servicio.AusServicioGestionServicioImpl">
    </bean>
    
    <bean id="ausGrupoServicio" class="com.saviasaludeps.savia.web.atencionusuario.servicio.AusGrupoServicioImpl">
    </bean> 
    
    <bean id="tuJuzgadoServicio" class="com.saviasaludeps.savia.web.tutela.servicio.TuJuzgadoServicioImpl">
    </bean> 
    
    <bean id="tuTutelaServicio" class="com.saviasaludeps.savia.web.tutela.servicio.TuTutelaServicioImpl">
    </bean> 
    
    <bean id="agrupadoresServicio" class="com.saviasaludeps.savia.web.maestro.servicio.AgrupadoresServicioImpl">
    </bean>
    
    <bean id="tuGrupoServicio" class="com.saviasaludeps.savia.web.tutela.servicio.TuGrupoServicioImpl">
    </bean>
    
    <bean id="tuRepresentanteServicio" class="com.saviasaludeps.savia.web.tutela.servicio.TuRepresentanteServicioImpl">
    </bean>
    
    <bean id="tuPersonalServicio" class="com.saviasaludeps.savia.web.tutela.servicio.TuPersonalServicioImpl">
    </bean>
    
    <bean id="tuTutelaItemServicio" class="com.saviasaludeps.savia.web.tutela.servicio.TuTutelaItemServicioImpl">
    </bean>
    
    <bean id="aucHospitalizacionServicio" class="com.saviasaludeps.savia.web.auditoria.concurrente.servicio.AucHospitalizacionServicioImpl">
    </bean>
    
    <bean id="aucCargaMasivaServicio" class="com.saviasaludeps.savia.web.auditoria.concurrente.servicio.AucCargaMasivaServicioImpl">
    </bean>
    
    <bean id="cmFacturasServicio" class="com.saviasaludeps.savia.web.cuentamedica.facturas.servicio.CmFacturasServicioImpl">
    </bean>
    
    <bean id="marcacionesServicio" class="com.saviasaludeps.savia.web.contratacion.servicio.MarcacionesServicioImpl">
    </bean>
    
    <bean id="mensajeServicio" class="com.saviasaludeps.savia.web.administracion.servicio.GnMensajeServicioImpl">
    </bean>
    
    <bean id="alertaServicio" class="com.saviasaludeps.savia.web.administracion.servicio.GnAlertaServicioImpl">
    </bean>
    
    <bean id="gjTerceroServicio" class="com.saviasaludeps.savia.web.judicial.servicio.GjTerceroServicioImpl">
    </bean>
    
    <bean id="gjAbogadoServicio" class="com.saviasaludeps.savia.web.judicial.servicio.GjAbogadoServicioImpl">
    </bean>
    
    <bean id="gjProcesoServicio" class="com.saviasaludeps.savia.web.judicial.servicio.GjProcesoServicioImpl">
    </bean>
    
    <bean id="peAfiliadoSugeridoServicio" class="com.saviasaludeps.savia.web.especial.servicio.PeAfiliadoSugeridoServicioImpl">
    </bean>
        
    <bean id="aucCargaMasivaValorServicio" class="com.saviasaludeps.savia.web.auditoria.concurrente.servicio.AucCargaMasivaValorServicioImpl">
    </bean>
    
    <bean id="gnSedeServicio" class="com.saviasaludeps.savia.web.administracion.servicio.GnSedeServicioImpl">
    </bean>
    
    <bean id="cmFacturasUsuarioServicio" class="com.saviasaludeps.savia.web.cuentamedica.facturasusuario.servicio.CmFacturasUsuarioServicioImpl">
    </bean>
    
    <bean id="gnValidacionCampoServicio" class="com.saviasaludeps.savia.web.administracion.servicio.GnValidacionCampoServicioImpl">
    </bean>
    
    <bean id="gestionSedeServicio" class="com.saviasaludeps.savia.web.gestion.atencion.servicio.GestionSedeServicioImpl">
    </bean>
    
    <bean id="turnoServicio" class="com.saviasaludeps.savia.web.gestion.atencion.servicio.GatTurnoServicioImpl">
    </bean>
    
    <bean id="gatAtencionServicio" class="com.saviasaludeps.savia.web.gestion.atencion.servicio.GatAtencionServicioImpl">
    </bean>
    
    <bean id="gatReporteServicio" class="com.saviasaludeps.savia.web.gestion.atencion.servicio.GatReporteServicioImpl">
    </bean>
    
    <bean id="solicitudAfiliacionServicio" class="com.saviasaludeps.savia.web.externo.servicio.SolicitudAfiliacionServicioImpl">
    </bean>
    
    <bean id="cmGlosaMasivaServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.CmGlosaMasivaServicioImpl">
    </bean>
    
    <bean id="afiliadoActualizacionServicio" class="com.saviasaludeps.savia.web.externo.servicio.AfiliadoActualizacionServicioImpl">
    </bean>
    
    <bean id="reservaTecnicaServicio" class="com.saviasaludeps.savia.web.reserva.servicio.ReservaTecnicaServicioImpl">
    </bean>
    
    <bean id="cargaMasivaGestionServicio" class="com.saviasaludeps.savia.web.especial.servicio.CargaMasivaGestionServicioImpl">
    </bean>
    
    <bean id="cmMarcacionMasivaIpsServicio" class="com.saviasaludeps.savia.web.cuentamedica.conciliacion.servicio.CmMarcacionMasivaIpsServicioImpl">
    </bean>
    
    <bean id="gestionVariablesEspecificasServicio" class="com.saviasaludeps.savia.web.especial.servicio.GestionVariablesEspecificasServicioImpl">
    </bean>

    <bean id="cargaMasivaVariablesServicio" class="com.saviasaludeps.savia.web.especial.servicio.CargaMasivaVariablesServicioImpl">
    </bean>
        
    <bean id="anticipoServicio" class="com.saviasaludeps.savia.web.anticipo.servicio.AnticipoServicioImpl">
    </bean>
    
    <bean id="procesoServicio" class="com.saviasaludeps.savia.web.juridico.servicio.ProcesoServicioImpl">
    </bean>
    
    <bean id="plantillaServicio" class="com.saviasaludeps.savia.web.juridico.servicio.PlantillaServicioImpl">
    </bean>
    
    <bean id="cargaProcesosServicio" class="com.saviasaludeps.savia.web.cargas.servicio.CargaProcesosServicioImpl">
    </bean>
    <bean id="grupoServicio" class="com.saviasaludeps.savia.web.juridico.servicio.GrupoServicioImpl">
    </bean>
    <bean id="cargaServicio" class="com.saviasaludeps.savia.web.cargas.servicio.CargaServicioImpl">
    </bean>
    <bean id="auTopeAfiliadoServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuTopeAfiliadoImpl">
    </bean>
    
    <bean id="cntjTerceroServicio" class="com.saviasaludeps.savia.web.juridico.servicio.TerceroServicioImpl">
    </bean>
    
    <bean id="cmFeRipsCargaServicio" class="com.saviasaludeps.savia.web.cuentamedica.rips.carga.servicio.CmFeRipsCargaServicioImpl">
    </bean>
    
    <bean id="cntjComiteServicio" class="com.saviasaludeps.savia.web.juridico.servicio.ComiteServicioImpl">
    </bean>
   
    <bean id="gestionServicio" class="com.saviasaludeps.savia.web.cargas.servicio.CargaGestionServicioImpl">
    </bean>
   
    <bean id="cntjExpedienteServicio" class="com.saviasaludeps.savia.web.juridico.servicio.ExpedienteServicioImpl">
    </bean>
    
    <bean id="controlCierreVariablesServicio" class="com.saviasaludeps.savia.web.especial.servicio.ControlCierreVariablesImpl">
    </bean>
    
    <bean id="cntjContratoServicio" class="com.saviasaludeps.savia.web.juridico.servicio.ContratoServicioImpl">
    </bean>
    
    <bean id="auNoSolicitudServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuNoSolicitudServicioImpl">
    </bean>
    
    <bean id="auCargaMasivaSinAutorizacionServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuCargaMasivaSinAutorizacionServicioImpl">
    </bean>
    
    <bean id="auCargaEntregaSinAutorizacionServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuCargaEntregaSinAutorizacionServicioImpl">
    </bean>
    
    <bean id="mapaAfiliadoServicio" class="com.saviasaludeps.savia.web.mapa.servicio.MapaAfiliadoServicioImpl">
    </bean>
    
    <bean id="finPostulacionServicio" class="com.saviasaludeps.savia.web.financiera.servicio.FinPostulacionServicioImpl">
    </bean>
    
    <bean id="finGiroServicio" class="com.saviasaludeps.savia.web.financiera.servicio.FinGiroServicioImpl">
    </bean>
    
    <bean id="finCargaServicio" class="com.saviasaludeps.savia.web.financiera.servicio.FinCargaServicioImpl">
    </bean>
    
    <bean id="auAnexo4CargaAnuladaServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuAnexo4CargaAnuladaServicioImpl">
    </bean>
    
    <bean id="rcoGrupoServicio" class="com.saviasaludeps.savia.web.recobro.servicio.RecobroGrupoServicioImpl">
    </bean>
    
    <bean id="indicadoresServicio" class="com.saviasaludeps.savia.web.supervisioncontrato.servicio.IndicadoresServicioImpl">
    </bean>
    
    <bean id="feDocumentoServicio" class="com.saviasaludeps.savia.web.facturacionelectronica.servicio.FeDocumentoServicioImpl">
    </bean>
    
    <bean id="cntjTareaServicio" class="com.saviasaludeps.savia.web.juridico.servicio.TareaServicioImpl">
    </bean>
    
    <bean id="auAnexo3CargaAnuladaServicio" class="com.saviasaludeps.savia.web.autorizacion.servicio.AuAnexo3CargaAnuladaServicioImpl">
    </bean>
    
    <bean id="rcoFacturaServicio" class="com.saviasaludeps.savia.web.recobro.servicio.RecobroFacturaServicioImpl">
    </bean>
    
    <bean id="rcoConciliacionServicio" class="com.saviasaludeps.savia.web.recobro.servicio.RecobroConciliacionServicioImpl">
    </bean>
    
    <bean id="cmFeRipsValidacionServicio" class="com.saviasaludeps.savia.web.cuentamedica.rips.carga.servicio.CmFeRipsValidacionServicioImpl">
    </bean>
    
    <bean id="cmFeSoporteServicio" class="com.saviasaludeps.savia.web.cuentamedica.rips.carga.servicio.CmFeSoporteServicioImpl">
    </bean>
    
    <bean id="procedimientosServicio" class="com.saviasaludeps.savia.web.informe.servicio.ProcedimientosServicioImpl">
    </bean>
    
</beans>
