<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>auto</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>SessionValidator</filter-name>
        <filter-class>com.saviasaludeps.savia.web.utilidades.SessionValidator</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/login.faces</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/home.faces</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/contrasena.faces</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/administracion/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/aseguramiento/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/autorizacion/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/contratacion/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/crue/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/cuenta_medica/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/especial/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/maestro/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/webservice/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/mipres/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/informe/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/atencionusuario/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/solicitud/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/tutela/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/auditoria_concurrente/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/judicial/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/reserva/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/gestion_atencion/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/anticipo/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/juridico/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/cargas/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/mapa/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionValidator</filter-name>
        <url-pattern>/facturacion_electronica/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            15
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.faces</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>com.sun.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.writeStateAtFormEnd</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6LccKrkpAAAAADvqcmniUaSYJE3CJqZVM6ctKzcq</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6LccKrkpAAAAADvqcmniUaSYJE3CJqZVM6ctKzcq</param-value>
    </context-param>
</web-app>
