@import url('https://cdnjs.cloudflare.com/ajax/libs/primeicons/7.0.0/primeicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');


.bodyj {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.bodyDialogFull{
    height: 100%;
    overflow: auto;
}
.footerdialog{
    border-top: 0px solid #eee !important;
}
.ui-dialog.ui-widget-content .ui-dialog-content {
    padding-bottom: 0px !important;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}
.footerdialog .ui-panelgrid-footer.ui-widget-header{
    padding-bottom: 0px !important;
}

.bodyDialogFull .ui-panelgrid .ui-panelgrid-footer,
.bodyDialog .ui-panelgrid .ui-panelgrid-footer,
.bodyDialog200 .ui-panelgrid .ui-panelgrid-footer,
.bodyDialog360 .ui-panelgrid .ui-panelgrid-footer {
    /*    padding-top: 0.5rem;
        padding-bottom: 0.5rem;*/
    background: #fff;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -15px;
}
.bodyDialogFull .footerdialog > .ui-grid,
.bodyDialog .footerdialog > .ui-grid,
.bodyDialog200 .footerdialog > .ui-grid,
.bodyDialog360 .footerdialog > .ui-grid {
    border: 0px;
}
.tblCustom th > span {
    font-size: 0.9em !important;
}

.tblCustom tr > td{
    font-size: 0.84em !important;
    text-align: center !important;
}
.listaDatos{
    border: 1px solid #ebebeb;
    border-radius: 8px;
}
.listaDatos th {
    width: 8rem !important;
}
.listaDatos th > span {
    font-size: 0.8em !important;
}

.listaDatos tr > td{
    font-size: 0.8em !important;
    text-align: center !important;
    word-wrap: break-word;
}
.listaDatos table tbody tr td > span {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.94em;
}

.ui-panelgrid-cell:has(label.header-back) {
    background: #f5f5f5 !important;
    font-size: 0.97em !important;
    font-weight:bold;
}

.ui-panelgrid-cell:has(span.header-back) {
    background: #f5f5f5 !important;
    font-size: 0.97em !important;
    font-weight:bold;
}

label.header-back:has(span.ui-outputlabel-label) {
    background: #f5f5f5 !important;
    font-size: 0.97em !important;
    font-weight:bold;
}

.ui-panelgrid-cell{
    border: 1px solid #e5e2e2 !important;
    margin-bottom: -1px !important;
    margin-left: -1px !important;
    display: flex;
    align-items: center;
}

.listaDatos table thead tr th {
    background: #f5f5f5 !important;
    border-radius: 0 !important;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border: 1px solid #dfdfdf !important;
}



.form{
    /*height: 100%;*/
    max-height: 94%;
    min-height: 200px;
    display: flex;
    flex-flow: column;
    align-items: normal;
    justify-content: space-between;
    padding: 0px !important;
    margin: 0px !important;
}

.pgFooter{
    display: block;
    text-align: center;
    /*border-top: 1px solid #eee;;*/
    padding-top: 0.3rem;
    padding-bottom: 0.26rem;
}
.ui-panel .ui-panel-titlebar {
    margin-bottom: 5px;
}
.contbtnadd{
    align-items: end;
    justify-content: left;
    display: flex;
}
.field {
    margin-bottom: 0.3rem !important;
}
.se-resizing-bar.sun-editor-common {
    display: none;
}

.ui-scrollpanel-native {
    overflow: hidden;
    overflow-y: auto !important;
}
.columna{
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.sun-editor .se-controller {
    z-index: 999999999999 !important; /* O un valor mayor que el z-index del modal */
}

.sun-editor-editable h1{
    border: 0px !important;
}

.sun-editor .se-wrapper .se-wrapper-inner{
    min-height: 220px !important;
}

.bodyDialog{
    flex-grow: 1;
    height: auto;
    overflow: auto;
    margin-bottom: 50px !important;
}

.ui-fluid .ui-inputfield[size]{
    width: 100% !important;
}

.bodyDialog360{
    height: auto;
    min-height: 360px !important;
    max-height: 360px !important;
    overflow: auto;
}

.bodyDialog200{
    height: auto;
    min-height: 200px !important;
    max-height: 200px !important;
    overflow: auto;
}

.bodyDialogFull .ui-scrollpanel,
.bodyDialog .ui-scrollpanel,
.bodyDialog200 .ui-scrollpanel,
.bodyDialog360 .ui-scrollpanel{
    /*margin-bottom: 2.36rem;*/
    border: 0px;
}

.txtFiltro{
    width: 95%;
    border-radius: 0.4rem !important;
    font-size: 0.8em !important;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.1rem !important;
    border: 1px solid #00000021 !important;
    box-shadow: none !important;
}

.txtFiltro>input{
    width: 95%;
    border-radius: 0.4rem !important;
    font-size: 0.8em !important;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-bottom: 0.1rem !important;
    height: 1.6rem;
    padding-top: 5px;
}

.ui-column-customfilter {
    margin: .24rem auto auto auto !important;
}

.selectFiltro{
    width: 80%;
    min-width: 80% !important;
    border-radius: 0.4rem !important;
    font-size: 0.8em !important;
    margin-bottom: 0.1rem !important;
    border: 1px solid #c1c1c1 !important;
    padding-left: 0.4rem;
    background: white !important;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1.4rem;
    border: 1px solid #00000021 !important;
    box-shadow: none !important;
}
.selectFiltro>span{
    border-radius: 0.4rem !important;
    background: transparent !important;
}
.selectFiltro> div.ui-selectonemenu-trigger {
    border-radius: 0rem 0.4rem 0.4rem 0rem !important;
}

.ui-fluid .ui-spinner .ui-spinner-button .ui-icon {
    left: 6px;
    margin-top: -5px;
}

.btn2{
    margin-bottom: 0.4rem;
    margin-left: 0.2rem;
}

.ui-spinner-horizontal-after .ui-spinner-down{
    right: 2.3em !important;
}
body .ui-fluid .ui-spinner-horizontal-after .ui-spinner-input, body .ui-spinner-horizontal-after .ui-spinner-input {
    padding-right: 3.8rem !important;
}

.spinerleft > input {
    text-align: left !important;
}

.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 0;
}

.customized-chronoline{
    margin-bottom: 4rem;
}

.ui-chronoline-event-content,
.ui-chronoline-event-opposite {
    line-height: 1;
}

@media screen and (max-width: 960px) {
    .customized-chronoline .ui-chronoline-event:nth-child(even) {
        flex-direction: row !important;
    }

    .customized-chronoline .ui-chronoline-event:nth-child(even) .ui-chronoline-event-content {
        text-align: left !important;
    }

    .customized-chronoline .ui-chronoline-event-opposite {
        flex: 0;
    }

    .customized-chronoline .ui-card {
        margin-top: 1rem;
    }
}

.lineatiempo-titulo{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: .5rem;
    color: #495057;
    text-transform: capitalize;
}
.lineatiempo-subtitulo{
    font-size: 1em;
    margin-top: 0.4rem;
    color: #495057;
    margin-bottom: 7px !important;
}
.lineatiempo-card{
    padding: 1rem;
    /*background: #f9f9f9;*/
    background: #083cb714;
    border: 1px solid #efefef;
    border-radius: 12px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width: 70% !important;
}
.lineatiempo-p {
    font-size: 1.2em;
    color: #495057;
}
.lineatiempo-card .ui-chip .ui-chip-text {
    font-size: 1em !important;
    line-height: 1.5;
    margin-top: .25rem;
    margin-bottom: .25rem;
}
.lineatiempo-card .ui-chip .ui-chip-icon {
    margin-right: .5rem;
}
.lineatiempo-card .ui-chip-icon.pi {
    line-height: 1.5 !important;
    font-size: 0.8rem;
}
.lineatiempo-card .ui-chip {
    background-color: #d7e2ff;
    color: #495057;
    border-radius: 16px;
    padding: 0 .5rem;
    margin-top: 0.2rem;
}
.lineatiempo-card .ui-chronoline .ui-chronoline-event-connector {
    /*background-color: #007ffd !important;*/
    background-color: #e2e2e2 !important;

}
.ui-chronoline-event-connector {
    /*background: #cbc4c4;*/
    background: #e2e2e2;
    width: 1;
}
.icono-prime{
    font-size: 0.9rem;
    padding-top: 0.1rem;
}

.boton-normal{
    /*background: #E1E1E196 !important;*/
    background: #D6DAE157 !important;
    padding: 0.3rem !important;
    box-shadow: 0px 0px 29px -22px rgb(0 0 0 / 73%) !important;
    margin: 0.1rem;
    min-width: 2.4rem;
    border-radius: 9px !important;
    border: 0.6px solid #D6DAE157 !important;
}
.btn1 > span:first-child {
    font-size: 0.78rem;
    padding-top: 0.1rem;
}
.boton {
    border: 0px !important;
    border-radius: 0.25rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    text-transform: uppercase;
    vertical-align: bottom;
    font-family: "Roboto", sans-serif !important;
    font-size: 0.75rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin: 0.3rem;
}
.btn-oscuro {
    background: #262626 !important;
    color: #fff !important;
    box-shadow:  0 4px 9px -4px rgb(48.85, 48.85, 48.85) !important;
}
.btn-oscuro:hover {
    background: #393939 !important;
    color: #fff !important;
}

.boton-normal2{
    background: #393939c2  !important;
    border: 1px solid #e6e4e4 !important;
    padding: 0.3rem !important;
    box-shadow: 0px 0px 29px -22px rgb(0 0 0 / 73%) !important;
    margin: 0.1rem;
    color: #fff !important;
    border-radius: 7px !important;
    border: 0px solid !important;
}
.btn-icono{
    border: 0.6px solid #E1E1E196 !important;
    padding: 0.14rem !important;
    box-shadow: 0px 0px 29px -22px rgb(0 0 0 / 73%) !important;
    margin: 0.1rem;
    color: #353333 !important;
    background: #D6DAE157 !important;
    border-radius: 8px !important;
}
.btn-icono > span:first-child {
    font-size: 0.76rem;
    padding-top: 0.1rem;
}

.btn-icono2 {
    border: 0px !important;
    border-radius: 0.25rem !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.1rem !important;
    vertical-align: bottom;
    font-family: "Roboto", sans-serif !important;
    font-size: 0.75rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    min-width: 2.3rem !important;
    background: #ebebebe3 !important;
    margin-left: 0.12rem;
    margin-right: 0.12rem;
    /* box-shadow: 0 8px 9px -4px rgb(0 0 0 / 10%), 0 4px 18px 0 rgb(0 0 0 / 18%) !important; */
    color: #0f1013 !important;
}
.btn-icono2 > span:first-child {
    font-size: 0.9rem;
    padding-top: 0.12rem;
}

.btn-rojo {
    background: #ff4747e0 !important;
    color: #fff !important;
}
.btn-verde{
    background: #00a20acc  !important;
    color: #fff !important;
}
.btn-azul{
    background: #1353e8cc  !important;
    color: #fff !important;
    box-shadow:  0 4px 9px -4px rgb(56.05, 107.35, 191.9) !important;
}
.btn-azul:hover{
    background: #3b71ca  !important;
    color: #fff !important;
}
.ui-toolbar-group-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: .4rem;
}
.ui-toolbar-group-left{
    margin-left: 0.8rem !important;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-fileupload-choose {
    border: 1px solid #ebebeb !important;
    padding: 0.19rem !important;
    box-shadow: 0px 0px 29px -22px rgb(0 0 0 / 73%) !important;
    margin: 0.1rem;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-fileupload-choose > span:first-child {
    font-size: 0.82rem;
    padding-top: 0.1rem;
}
.ui-fileupload-cancel.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-disabled ,
.ui-fileupload-upload.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-disabled,
.ui-fileupload-upload.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left,
.ui-fileupload-cancel.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left {
    border: 1px solid #ebebeb !important;
    padding: 0.19rem !important;
    box-shadow: 0px 0px 29px -22px rgb(0 0 0 / 73%) !important;
    margin: 0.1rem !important;
}

.ui-fileupload-cancel.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-disabled > span:first-child ,
.ui-fileupload-upload.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-state-disabled > span:first-child {
    font-size: 0.82rem;
    padding-top: 0.1rem;
}

.listaDatos table .ui-widget-content {
    border: 1px solid #ffffff !important;
}
.listaDatos table thead tr th {
    border-left: 0px !important;
    border-right: 0px !important;
    background: #f5f5f5a1 !important;
    border-color: #ebebeb !important;
}
.listaDatos table > tbody>tr:hover {
    background-color: #0000000f;
    cursor: pointer;
}
.contenedor-opciones{
    padding-right: 0.4rem;
    padding-top: 0rem;
    padding-bottom: 0.3rem;
}

div.ui-panelgrid-cell:has(span.header-back[style*='display: none;']){
    display: none;
}
div.ui-panelgrid-cell:has(div[style*='display: none;']){
    display: none;
}
div.ui-panelgrid-cell:has(label[style*='display: none;']){
    display: none;
}
div.ui-panelgrid-cell:has(label[class*='header-back']){
    border-right: 0px !important;
    margin-right: 1px;
}
.ui-dialog.fullscreen-dialog {
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    margin: 0;
    position: fixed !important;
}
.ui-dialog.fullscreen-dialog .ui-dialog-content,
.ui-dialog-content{
    /*width: 98% !important;*/
    height: 100% !important;
    padding-top: 0.2rem !important;
}
.ui-dialog-titlebar-icon {
    background: #e7e6e6;
    padding: 0.2rem !important;
}
.sun-editor{
    height: auto !important;
    min-height: 500px !important;
}

.ui-chronoline-vertical.ui-chronoline-alternate .ui-chronoline-event:nth-child(even) .ui-chronoline-event-content {
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.frmAuditoria{
    text-align: right;
    margin-bottom: 0.2rem;
}

.ui-dialog ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.ui-dialog ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.ui-dialog ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ui-dialog ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Cambia el color cuando se pasa el cursor */
.ui-dialog ::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.ui-dialog{
    border-radius: 0.6rem !important;
    border: 0px !important;
    background: #ffffff;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04) !important;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar {
    color: #4f4f4f !important;
}
.ui-dialog .ui-widget-header {
    /*color: #4f4f4f !important;*/
    font-family: "Roboto", sans-serif !important;
}
.ui-inputtext, .ui-inputtextarea{
    border-radius: 0.4rem !important;
    border: 1px solid #e0e0e0 !important;
    line-height: 1.3 !important;
    color: #4f4f4f !important;
}
.ui-selectonemenu {
    border: 1px solid #e0e0e0 !important;
    border-radius: 0.4rem !important;
    box-shadow: none !important;
}
.ui-selectonemenu span.ui-selectonemenu-label {
    border-radius: 0.4rem !important;
    border: 0px solid #5b2020 !important;
    line-height: 1.3 !important;
    color: #4f4f4f !important;
    box-shadow: none;
}
.ui-selectonemenu .ui-selectonemenu-trigger{
    border: 0px !important;
    border-radius: 0rem 0.4rem 0.4rem 0rem !important;
    background: #f1f2f5 !important;
}

.ui-selectbooleanbutton{
    min-width: 3.6rem !important;
    border-radius: 0.4rem !important;
    background: #d4d5dfa8 !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    padding-top: 0.16rem !important;
    padding-bottom: 0.16rem !important;
}


.ui-selectbooleanbutton span.ui-button-text:focus-visible{
    outline: none !important;
}
.ui-state-focus, .ui-widget-content .ui-state-focus{
    outline-color: #89919b63 !important;
    outline: 0 !important;
    border: 1px solid !important;
    border-color: rgba(82, 168, 236, 0.8) !important;
}
.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus{
    box-shadow: none;
    border-color: rgba(82, 168, 236, 0.8) !important;
}
.ui-selectonemenu-trigger.ui-state-default.ui-corner-right.ui-state-focus {
    border-color: transparent !important;
}
.ui-inputfield{
    border-radius: 0.4rem !important;
    color: #4f4f4f !important;
    border: 1px solid #e0e0e0 !important;
    box-shadow: none !important;
}
.ui-fluid .ui-trigger-calendar .ui-datepicker-trigger.ui-button {
    position: absolute;
    right: -2px;
    width: 2.4em;
    height: -webkit-fill-available;
    border: 0px !important;
    border-radius: 0rem 0.4rem 0.4rem 0rem !important;
    background: #f1f2f5 !important;
    margin-right: 0.14rem;
    margin-top: 0.06rem;
    margin-bottom: 0.06rem;
}

.col-fileupload{
    margin-right: 2px;
    padding: 0px !important;
}
.col-fileupload .ui-fileupload{
    /*width: 100% !important;*/
}

.ui-panelgrid-footer:has(.ui-fileupload) {
    position: initial !important;
    width: initial !important;
    margin-left: 0px !important;
}
.ui-toolbar.ui-widget-header {
    background: #f5f5f5a1 !important;
    border: 0px !important;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    margin-bottom: 0.3rem;
}
.ui-splitter .ui-splitter-panel:last-child {
    margin-right: 0.16rem !important;
    margin-left:  0.1rem !important;
}
.ui-corner-all {
    -moz-border-radius: 8px  !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
}
.ui-splitter-panel > .ui-scrollpanel{
    border: 0px;
}
.ui-paginator.ui-paginator-top {
    border-bottom: 0 none;
    border: 0px;
    border-radius: 8px 8px 0px 0px;
    background: #f5f5f5a1 !important;
}
.ui-paginator.ui-paginator-bottom {
    border-top: 0 none;
    border: 0px;
    border-radius: 0px 0px 8px 8px;
    background: #f5f5f5a1 !important;
}
.ui-paginator.ui-paginator-top > a > span.ui-icon ,
.ui-paginator.ui-paginator-bottom > a > span.ui-icon {
    line-height: 1.5;
}
.ui-paginator.ui-paginator-top > select.ui-paginator-rpp-options ,
.ui-paginator.ui-paginator-bottom > select.ui-paginator-rpp-options {
    height: 21px;
}

/*estilos escrol horizontal*/
.ui-datatable-tablewrapper::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
.ui-datatable-tablewrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.ui-datatable-tablewrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ui-datatable-tablewrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.ui-datatable-tablewrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/*estilos escrol vertical*/

.ui-splitter > .ui-splitter-panel:last-child ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.ui-splitter > .ui-splitter-panel:last-child ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.ui-splitter > .ui-splitter-panel:last-child ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ui-splitter > .ui-splitter-panel:last-child ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.ui-splitter > .ui-splitter-panel:last-child ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.ui-orderlist .ui-orderlist-list{
    height: initial !important;
    min-height: 1.5rem !important;
    width: 100% !important;
}

.ui-orderlist{
    width: 100% !important;
}

.ui-orderlist > .ui-g > .ui-g-12 {
    padding-left: 0px !important;
}

.ui-orderlist .ui-orderlist-list li {
    margin: 1px 3px 1px 3px !important;
    padding: 2px 6px 2px 6px !important;
}
.ui-datatable .ui-sortable-column {
    box-shadow: none;
}

.margen-inferior{
    margin-bottom: 4em !important;
}

.nuevoFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #fff;
    border: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-left: -15px;
}

.ui-panel .ui-panel-footer{
    border-width: 0px !important;
    padding: 0px !important;
}
button.ui-state-focus.ui-state-active{
    border: 0px !important;
}

.mce-pagebreak {
    border: 1px dashed #aaa;
    cursor: pointer;
    display: block !important;
    height: 5px !important;
    margin-top: 15px !important;
    page-break-before: always;
    width: 100% !important;
    pointer-events: none  !important;
}

.ui-accordion .ui-accordion-header.ui-state-default > span {
    content: "\e930" !important; /* Unicode de pi-angle-right */
    font-family: 'PrimeIcons' !important;
    font-size: 1rem !important;
    margin-right: 0.5rem !important;
    vertical-align: middle !important;
    display: inline-block !important;
}
.acordeon{
    width: 100%;
    background: white;
}
.acordeon  .ui-panelgrid .ui-panelgrid-cell ,
.acordeon  .ui-panelgrid-cell.ui-grid-col-12 {
    border: 0px !important;
}

.ui-confirm-dialog.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-hidden-container{
    max-width: 490px !important;
}
.ui-dialog-buttonpane.ui-dialog-footer.ui-widget-content.ui-helper-clearfix{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-confirmdialog-yes,
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-confirmdialog-no{
    left: 0px !important;
}
