

.icono-input-text {
    font-size: 20px;
    margin-top: 0px;
    position: absolute;
    padding-top: 3px;
    color:#0088CC;
}

.etiqueta {
    padding-right: 15px;
}

.input-number-con-icono input {
    padding-left:15px;

}

.separador_panel {
    height: 3px;
    background: #234c5a;
    margin-bottom: 10px;
}

.boton_con_icono .ui-button-text{

    font-size:12px;
}

.boton_con_icono .ui-button-icon-left {
    color: #234c5a;
    font-size: 21px;
    padding-top: 0px;
    height: 23px;
    margin-top: -11px;
    margin-left: -5px;
}

.p-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.p-col {
    border: 1px solid whitesmoke;
    flex: 1 1 30%;
    height: 50px;
    text-align:center;
}


.p-col input {
    border-style: solid;
    margin-left: 5px;
    padding-right: 5px;
    width: 88%;
    border-color: #cccccc;
    outline-color: gray;
    box-shadow: none;
    padding: 4px;
    border-radius: 4px;
    border-width: 1.5px;
}

.pi-icono-rojo {
    font-size: 16px;
    color: #bb0808;
}

.pi-icono-negro {
    font-size: 16px;
    color: black;
}

.pi-icono-azul {
    color: #234c5a;
    font-size: 16px;
}

.ui-datepicker-trigger {
    margin-top: -26px;height:26px;float:right;margin-right:0px;
}

.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
    display: none!important;
}

.autoCompletar {
    width: 85%;
}

.autoCompletar .ui-inputfield {
    float: left;
    margin-top: 10px;
    padding-left: 17px;
    width:98%;
}

.p-col-small {
    border: 1px solid whitesmoke;
    flex: 1 1 30%;
    height: 19px;
    text-align: left;
    padding-left: 12px;
}

.p-col-small-4 {
    border: 1px solid whitesmoke;
    flex: 1 1 23%;
    height: 19px;
    text-align: left;
    padding-left: 12px;
    overflow:hidden;
}

.tituloTabla {
    font-size: 15px;
    text-align: center;
}

#notificaciones button {
    float:right;
}

#dialogoGestionar_title {
    width:94%;
}

#notificacionesContador {
    position: absolute;
    margin-top: -19px;
    color: #234c5a;
    font-size: 13px;
    margin-left: 23px;
}

i.pi.pi-bell.pi-icono-azul:hover {
    color: #dfe221;
}

.gestionar-alertas .ui-icon.pi {
    background: none repeat scroll 0 0 transparent!important;
    text-indent: 0!important;
    font-size: 1em;
    width: 22px;
    top: 40%;
    height: 22px;
    padding: 0px;
    margin-left: -32px;
}
.gestionar-alertas {
    float:right;
    background:none!important;
}

.gestionar-alertas .ui-button-icon-left {
    left: 1.5em;
}

.gestionar-alertas .ui-button-text {
    padding: 0px!important;
    padding-left: 3em!important;
    padding-right: .3em!important;
}

.gestionar-alertas .ui-icon.pi:hover {
    color: #d61f1f;
}

.gestionar-alertas .ui-button-text:hover {
    color: #d61f1f;
}
.notificaciones {
    float:right;
}
.mae-select {
    width: 100%;
    height: 26px;
    outline: gray;
    border-color: #cccccc;
}

.tabla_altura_fija_sm {
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-scrollpanel-native {
    max-height: 84vh;
    overflow-y: scroll;
}

.dt-no-scroll {
    overflow-y:hidden;
    overflow-x:scroll;
}


